.aboutMe {
    padding: 40px 5vw 20px 5vw;
    position: relative;
    background-color: $bg-color;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutMe-info {
    h2 {
        padding: 20px 0;
    }
}