.contact {
    position: relative;
    background-color: $bg-color;
    padding: 40px 5vw 40px 5vw;

    h2 {
        padding: 25px 0;
        font-size: 32px;
        color: $fluor-green;
    }

    p {
        font-size: 20px;
    }
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 70px 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.contact-icon {

    .contact-icon_img {
        width: 65px;

        @media (min-width: 768px) {
            width: 85px;
        }
    }
}