.home {
    height: 100vh;
    position: relative;
}

.home-info {
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;

    .home-img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        -user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.home-welcome {
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(2px);

    p {
        font-size: 25px;

        @media (min-width: 768px) {
            font-size: 30px;
        }
    }

    h1 {
        font-size: 35px;
        margin: 10px 0;
        color: $fluor-green;

        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    span {
        font-size: 25px; 

        @media (min-width: 768px) {
            font-size: 30px;
        }
    }

}