.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(1px);
    z-index: 999;
    width: 100%;
    padding: 20px 5vw 20px 5vw;

    .header-logo {
        font-size: 25px;
        span {
            color: $fluor-green;
        }
    }
}

.nav {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: $letter-color;
        transition: all .4s;

        &:hover {
            color: $fluor-green;
        }
    }
}